:root {
  --vp-font-family-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --vp-c-brand-1: #047857;
  --vp-c-brand-2: #059669;
  --vp-c-brand-3: #10b981;
  --vp-c-brand-soft: #d1fae5;
}

.dark {
  --vp-c-brand-1: #34d399;
  --vp-c-brand-2: #10b981;
  --vp-c-brand-3: #059669;
  --vp-c-brand-soft: #064e3b;
}

.mermaid {
  overflow-x: auto;
}
